$header-background: white;
$header-padding-horizontal: 20px;
$header-padding-vertical: 15px 20px 15px 20px;
$header-border: 1px rgb(194,194,194) solid;

$content-backgrond: white;
$content-border: 1px rgb(230, 233, 236) solid;
$content-title-height: 60px;
$footer-background: none;


$text-color: rgb(55,74,96);
$text-color-selected: rgb(45, 40, 45);

$width-threshold: 560px;

$header-background-color-hover: rgb(31, 28, 40);
$header-background-color: rgb(16, 13, 22);
$content-background: white;

$hint-box-background: $header-background-color;
$hint-box-background-2: rgba(16, 13, 22, 0.9);
$hint-box-border: 2px rgb(174, 174, 174) solid;