<div class="wrapper">
    <div class="header responsive-header">
      <div id="first-header-section" class="header-section">
        <span>Hello <span style="font-weight:800">{{user.username}}</span></span>
      </div>
    </div>
    <div class="content">
      <div class="content-section">
        <ul class="content-item-list">
          <li class="content-item user-item">
            <a routerLink="/account"><span>Account</span></a>
          </li>
          <li class="content-item user-item">
              <a routerLink="/keys"><span>API Keys</span></a>
          </li>
          <li class="content-item user-item">
              <a routerLink="/settings"><span>Account</span></a>
          </li>
        </ul>
      </div>
      <div class="content-section">
        <ul class="content-item-list">
          <li class="content-item user-item">
              <span (click)="logout()"><span>Log out</span></span>
          </li>
        </ul>
      </div>
    </div>
  </div>