@import '../../styles/base.scss'; 
.header-section{
    min-width: 200px;
    .agent-name{
        max-width: 400px;
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }
}

#agent-control-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    padding: 0 20px;    
    border-bottom: $content-border;
    span{
        height: 60px;
        line-height: 60px;
    }
}
@media(max-width: $width-threshold){
    .agent-name{
        max-width: 300px !important;
    }
    #agent-control-panel{
        flex-direction: column;
       
    }
}
.panel{
    width: 100%;
    height: 150px;
}
.figure{
    height: 100%;
    width: 100%;
}
.metric-item{
    display: flex;
    flex-direction: column;
    .legend{
        height: 40px;
        width: 100%;
        span{
            height: 40px;
            line-height: 40px;
        }
    }
}