$text-color: rgb(194,194,194);
$header-background-color: rgb(16, 13, 22);
$background-line-color: rgb(194,194,194);
$header-background-color-hover: rgb(31, 28, 40);

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto 20px auto;
    width: 100%;
    justify-content: center;
    .panel{
        
        margin:10px;
        display: flex;
        justify-content: center;
        align-items: center;   
        svg{
            width: 80%;
            height: 200px;
            border: 1px solid $background-line-color;
        } 
    }    
}

.line-plot {
    fill: none;
    stroke-width: 3px;
    stroke: $header-background-color;
}