<div id="main-wrapper" [ngClass]="{'wrapper': true, 'vertical-wrapper': isVertical, 'horizontal-wrapper': !isVertical}">
    <div *ngIf="user != null" id="main-header" [ngClass]="{'header': true, 'vertical-header': isVertical, 'horizontal-header': !isVertical}">
    <!--header-->

    <!-- vertical header-->
    <ul *ngIf="isVertical" id="first-header-section" class="header-section">
      <li class="header-item"><a routerLink="/dashboard"><span><i class="fas fa-chart-line"></i></span></a></li>
      <li class="header-item"><a routerLink="/docs"><span><i class="fas fa-folder-open"></i></span></a></li>
      <li class="header-item"><a routerLink="/news"><span><i class="far fa-newspaper"></i></span></a></li>
    </ul>
    <!-- horizontal header -->
    <ul *ngIf="!isVertical" id="first-header-section" class="header-section">
      <li class="header-item"><a routerLink="/dashboard"><span>Dashboard</span></a></li>
      <li class="header-item"><a routerLink="/docs"><span>Docs</span></a></li>
      <li class="header-item"><a routerLink="/news"><span>News</span></a></li>
    </ul>

    <!--vertical header-->
    <ul *ngIf="isVertical" id="second-header-section" class="header-section">
      <li id="user-icon" class="header-item"><a routerLink="/user"><span style="display:inline-block;height:100%; vertical-align: middle;"></span><img width="35px" height="35px" [src]="user.profile"></a></li>
    </ul>

    <!--horizontal header-->
    <ul *ngIf="!isVertical" id="second-header-section" class="header-section">
      <li id="user-icon" class="header-item"><span style="display:inline-block;height:100%; vertical-align: middle;"></span><img width="40px" height="40px" [src]="user.profile"></li>
    </ul>
    </div>
    <div id="main-content" class="content">
        <router-outlet></router-outlet>
    </div>
</div>
