
.toolbar-filler {
    flex: 1 1 auto
}


#top-nav{
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: #78909c;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    box-shadow: 0px 3px 10px rgb(200,200,200);
    a{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 14px;
        font-weight: 500;
        color:white;
    }
    .nav-btn, .user-dropdown{
        
        line-height: 50px;
        padding: 0 15px 0 15px; 
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 14px;
        font-weight: 500;
        color:white;
        background-color: #78909c;
        border: 0;
        text-decoration: none;
    }
    .nav-btn:hover{
        cursor: pointer;
        background-color: #78909c;
    }
    .nav-btn:focus, .user-dropdown:focus{
        outline: 0;
    }
    .nav-toggle{
        display: none;
    }
    @media (max-width:700px) {
        .nav-toggle{
            display: block;
        }
        .top-nav-item{
            display: none;
        }
    }
    .user-dropdown{
        max-width: 100px;
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }
    #user-dropdown-content{
        display: none;
        position: absolute;
        top:50px;
        max-width: 120px;
        background-color: #78909c;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .user-dropdown:hover #user-dropdown-content{
        display: flex;
        flex-direction: column;
        button{
            background-color: #78909c;
            align-self: center;
        }

    }
}
#hidden-block{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
    background-color: #90a4ae;
    box-shadow: 0px 2px 6px rgb(200,200,200);;
    a{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 14px;
        font-weight: 500;
        color:white;
    }
    .nav-btn{
        background-color: #90a4ae;
        text-align: center;
        height: 30px;
        line-height: 30px;
        padding: 0 15px 0 15px; 
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 14px;
        font-weight: 500;
        color:white;
        border: 0;
        text-decoration: none;
    }
    .nav-btn:hover{
        cursor: pointer;
        background-color: #7b8d96;
    }
    .nav-btn:focus{
        outline: 0;
    }
    

}
.search-input{
    margin-right: 20px;
    input{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        outline: none;
        border:0;
        font-size: 15px;
    }
    input:focus{
        outline: none;
        border:0;
    }
}