#detail-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 90%;
    max-width: 1200px;
    min-width: 400px;
    justify-content: center;

    .target-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 1200px;
        min-width: 400px;
        justify-content: center;

        .panel{
            margin:10px;
            width: 400px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .control-panel{
            
            button{
                width: 400px;
                margin: 5px 0 5px 0;
                height: 30px;
                background-color:  #607D8B;
                border: 0;
                border-radius: 2px;
                font-size: 14px;                    
                font-family: Helvetica,Arial,sans-serif;
                color:white;

            }
            button:hover{
                cursor: pointer;
            }
            input{
                width: 400px;
                height: 30px;
            }
        }
        .empty{
            width: 400px;
            height: 0px;
        }
    }
    .detail-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 1200px;
        min-width: 400px;
        justify-content: center;
        .panel{
            margin:10px;
            box-shadow: 1px 1px 1px gray;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }
        .empty{
            width: 402px;
            height: 0px;
        }
    }
}
.line-plot {
    fill: none;
    stroke-width: 3px;
    stroke: red;
}

