<div class="wrapper">
  <div class="header responsive-header">
    <div id="first-header-section" class="header-section">
      <span>Key Management</span>
    </div>
    <div id="second-header-section" class="header-section">
      <span id="key-hint" class="hint"><i class="fas fa-question-circle"></i></span>
      <span id="key-hint-box" class="hint-box">
          A key represents a set of privileges. A key with necessary privileges is 
          required when you want to initialize an agent instance or use a plugin.
      </span>
      <span><button class="btn btn-large" (click)="addKey()">+</button></span>
    </div>
  </div>
  <div class="content">
    <div class="content-section key-section">
      <span class="content-section-title">Private API Keys</span>
      <ul class="content-item-list">
        <li *ngFor="let key of keys" class="content-item key-item">
            <span class="key-value">{{getValue(key)}}</span>
            <span class="key-control">
              <button class="btn btn-medium" #viewbtn (click)="toggleVisiblity(key._id, viewbtn)">View</button>
              <button class="btn btn-medium" #disablebtn (click)="disableKey(key._id, viewbtn)">Disable</button>
              <button class="btn btn-medium" #deletebtn (click)="deleteKey(key._id, viewbtn)">Delete</button>
            </span>
        </li>
        
      </ul>
    </div>
  </div>
  
</div>