<div class="monitor-target-container">
  <div *ngFor="let target of targets" class="target-panel" (click)="goToTarget(target.name)">
    <div class="target-overview">
        <p class="target-name">{{target.name}}</p>
        <p><span class="dot" [ngStyle]="{'background-color':target.status === 1?'green':'red'}"></span></p>
    </div>
    <div class="split-line"></div>
    <div class="load measure">
      <div>
        <p>Load</p>
      </div>
      <div class="bar">
        <div class="occupied" [ngStyle]="{'width': convertToWidth(target.name, 'load') + 'px'}"></div>
        <div class="empty" [ngStyle]="{'width': (barWidth - convertToWidth(target.name, 'load')) + 'px'}"></div>
      </div>
    </div>
    <div class="cpu measure">
        <div>
          <p>CPU</p>
        </div>
        <div class="bar">
            <div class="occupied" [ngStyle]="{'width': convertToWidth(target.name, 'CPU') + 'px'}"></div>
            <div class="empty" [ngStyle]="{'width': (barWidth - convertToWidth(target.name, 'CPU')) + 'px'}"></div>
        </div>
    </div>
    <div class="memory measure">
        <div>
          <p>Memory</p>
        </div>
        <div class="bar">
            <div class="occupied" [ngStyle]="{'width': convertToWidth(target.name, 'memory') + 'px'}"></div>
            <div class="empty" [ngStyle]="{'width': (barWidth - convertToWidth(target.name, 'memory')) + 'px'}"></div>
        </div>
    </div>
    
  </div>
  <div class="empty-panel"></div>
  <div class="empty-panel"></div>
  <div class="empty-panel"></div>
  
</div>